In [1]:
import pandas as pd

In [2]:
data = {
'Player': ['Roger Federer', 'Rafael Nadal', 'Novak Djokovic', 'Serena Williams', 'Margaret Court', 'Arthur Ashe', 'Andre Agassi', 'Pete Sampras', 'Martina Navratilova', 'Chris Evert', 'Steffi Graf', 'Rod Laver'],
'Total_Slams': [20, 20, 20, 23, 24, 3, 8, 14, 18, 18, 22, 11],
'Wimbledon': [8, 2, 6, 7, 3, 1, 1, 7, 9, 3, 7, 4],
'US_Open': [5, 4, 3, 6, 5, 1, 2, 5, 4, 6, 5, 2],
'Australian_Open': [6, 1, 9, 7, 11, 1, 4, 2, 3, 2, 4, 3],
'French_Open': [1, 13, 2, 3, 5, 0, 1, 0, 2, 7, 6, 2],
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,Roger Federer,20,8,5,6,1
1,Rafael Nadal,20,2,4,1,13
2,Novak Djokovic,20,6,3,9,2
3,Serena Williams,23,7,6,7,3
4,Margaret Court,24,3,5,11,5
5,Arthur Ashe,3,1,1,1,0
6,Andre Agassi,8,1,2,4,1
7,Pete Sampras,14,7,5,2,0
8,Martina Navratilova,18,9,4,3,2
9,Chris Evert,18,3,6,2,7
10,Steffi Graf,22,7,5,4,6
11,Rod Laver,11,4,2,3,2

#### How would you sort the DataFrame based on the "Total_Slams" column in descending order?

In [5]:
df.sort_values(['Total_Slams'], ascending=False)

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
4,Margaret Court,24,3,5,11,5
3,Serena Williams,23,7,6,7,3
10,Steffi Graf,22,7,5,4,6
0,Roger Federer,20,8,5,6,1
1,Rafael Nadal,20,2,4,1,13
2,Novak Djokovic,20,6,3,9,2
8,Martina Navratilova,18,9,4,3,2
9,Chris Evert,18,3,6,2,7
7,Pete Sampras,14,7,5,2,0
11,Rod Laver,11,4,2,3,2
6,Andre Agassi,8,1,2,4,1
5,Arthur Ashe,3,1,1,1,0

#### Can you sort the DataFrame by the players' names in alphabetical order? What method would you use?

In [6]:
df.sort_values(['Player'])

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
6,Andre Agassi,8,1,2,4,1
5,Arthur Ashe,3,1,1,1,0
9,Chris Evert,18,3,6,2,7
4,Margaret Court,24,3,5,11,5
8,Martina Navratilova,18,9,4,3,2
2,Novak Djokovic,20,6,3,9,2
7,Pete Sampras,14,7,5,2,0
1,Rafael Nadal,20,2,4,1,13
11,Rod Laver,11,4,2,3,2
0,Roger Federer,20,8,5,6,1
3,Serena Williams,23,7,6,7,3
10,Steffi Graf,22,7,5,4,6

#### Is it possible to sort the DataFrame based on multiple columns? For instance, sort by "Total_Slams" first and then by "Wimbledon" titles.

In [7]:
df.sort_values(['Total_Slams', 'Wimbledon'], ascending=False)

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
4,Margaret Court,24,3,5,11,5
3,Serena Williams,23,7,6,7,3
10,Steffi Graf,22,7,5,4,6
0,Roger Federer,20,8,5,6,1
2,Novak Djokovic,20,6,3,9,2
1,Rafael Nadal,20,2,4,1,13
8,Martina Navratilova,18,9,4,3,2
9,Chris Evert,18,3,6,2,7
7,Pete Sampras,14,7,5,2,0
11,Rod Laver,11,4,2,3,2
6,Andre Agassi,8,1,2,4,1
5,Arthur Ashe,3,1,1,1,0

#### How would you sort the DataFrame based on the "French_Open" column but keep the original index?

In [8]:
df

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,Roger Federer,20,8,5,6,1
1,Rafael Nadal,20,2,4,1,13
2,Novak Djokovic,20,6,3,9,2
3,Serena Williams,23,7,6,7,3
4,Margaret Court,24,3,5,11,5
5,Arthur Ashe,3,1,1,1,0
6,Andre Agassi,8,1,2,4,1
7,Pete Sampras,14,7,5,2,0
8,Martina Navratilova,18,9,4,3,2
9,Chris Evert,18,3,6,2,7
10,Steffi Graf,22,7,5,4,6
11,Rod Laver,11,4,2,3,2

In [9]:
df.sort_values(['French_Open'], ignore_index=True)

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,Arthur Ashe,3,1,1,1,0
1,Pete Sampras,14,7,5,2,0
2,Roger Federer,20,8,5,6,1
3,Andre Agassi,8,1,2,4,1
4,Novak Djokovic,20,6,3,9,2
5,Martina Navratilova,18,9,4,3,2
6,Rod Laver,11,4,2,3,2
7,Serena Williams,23,7,6,7,3
8,Margaret Court,24,3,5,11,5
9,Steffi Graf,22,7,5,4,6
10,Chris Evert,18,3,6,2,7
11,Rafael Nadal,20,2,4,1,13

#### Can you perform an in-place sort on the "US_Open" titles, so the original DataFrame is modified?

In [10]:
df1 = df.copy()

In [11]:
df1.sort_values(['US_Open'], ascending=False, inplace=True)

In [12]:
df1

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
3,Serena Williams,23,7,6,7,3
9,Chris Evert,18,3,6,2,7
0,Roger Federer,20,8,5,6,1
4,Margaret Court,24,3,5,11,5
7,Pete Sampras,14,7,5,2,0
10,Steffi Graf,22,7,5,4,6
1,Rafael Nadal,20,2,4,1,13
8,Martina Navratilova,18,9,4,3,2
2,Novak Djokovic,20,6,3,9,2
6,Andre Agassi,8,1,2,4,1
11,Rod Laver,11,4,2,3,2
5,Arthur Ashe,3,1,1,1,0

#### What is the syntax for sorting the DataFrame based on "Australian_Open" in ascending order but returning only a subset of the DataFrame instead of modifying it?

In [13]:
df.sort_values(['Australian_Open'], ignore_index=True).loc[:3]

         Player  Total_Slams  Wimbledon  US_Open  Australian_Open  French_Open
0  Rafael Nadal           20          2        4                1           13
1   Arthur Ashe            3          1        1                1            0
2  Pete Sampras           14          7        5                2            0
3   Chris Evert           18          3        6                2            7

#### How would you reset the index after sorting the DataFrame based on "Total_Slams"?

In [14]:
df.sort_values(['Total_Slams'], ascending=False).reset_index()

,index,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,4,Margaret Court,24,3,5,11,5
1,3,Serena Williams,23,7,6,7,3
2,10,Steffi Graf,22,7,5,4,6
3,0,Roger Federer,20,8,5,6,1
4,1,Rafael Nadal,20,2,4,1,13
5,2,Novak Djokovic,20,6,3,9,2
6,8,Martina Navratilova,18,9,4,3,2
7,9,Chris Evert,18,3,6,2,7
8,7,Pete Sampras,14,7,5,2,0
9,11,Rod Laver,11,4,2,3,2
10,6,Andre Agassi,8,1,2,4,1
11,5,Arthur Ashe,3,1,1,1,0

#### Is it possible to sort just a Series extracted from the DataFrame? For example, sort the "Wimbledon" Series.

In [15]:
df.loc[:, ['Wimbledon']].sort_values(['Wimbledon'], ascending=False, ignore_index=False)

    Wimbledon
8           9
0           8
3           7
7           7
10          7
2           6
11          4
4           3
9           3
1           2
5           1
6           1

#### How can you sort the DataFrame by the index after you've sorted it by a column?

In [16]:
df.sort_values(['French_Open'], ascending=False).sort_index()

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,Roger Federer,20,8,5,6,1
1,Rafael Nadal,20,2,4,1,13
2,Novak Djokovic,20,6,3,9,2
3,Serena Williams,23,7,6,7,3
4,Margaret Court,24,3,5,11,5
5,Arthur Ashe,3,1,1,1,0
6,Andre Agassi,8,1,2,4,1
7,Pete Sampras,14,7,5,2,0
8,Martina Navratilova,18,9,4,3,2
9,Chris Evert,18,3,6,2,7
10,Steffi Graf,22,7,5,4,6
11,Rod Laver,11,4,2,3,2

In [17]:
df.sort_values(['French_Open'], ascending=False)

,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
1,Rafael Nadal,20,2,4,1,13
9,Chris Evert,18,3,6,2,7
10,Steffi Graf,22,7,5,4,6
4,Margaret Court,24,3,5,11,5
3,Serena Williams,23,7,6,7,3
2,Novak Djokovic,20,6,3,9,2
8,Martina Navratilova,18,9,4,3,2
11,Rod Laver,11,4,2,3,2
0,Roger Federer,20,8,5,6,1
6,Andre Agassi,8,1,2,4,1
5,Arthur Ashe,3,1,1,1,0
7,Pete Sampras,14,7,5,2,0

#### Can you sort the DataFrame by "Total_Slams" in descending order but display only the top 5 players?

In [18]:
df.sort_values(["Total_Slams"], ascending=False).reset_index().loc[:5]

,index,Player,Total_Slams,Wimbledon,US_Open,Australian_Open,French_Open
0,4,Margaret Court,24,3,5,11,5
1,3,Serena Williams,23,7,6,7,3
2,10,Steffi Graf,22,7,5,4,6
3,0,Roger Federer,20,8,5,6,1
4,1,Rafael Nadal,20,2,4,1,13
5,2,Novak Djokovic,20,6,3,9,2